html, body {
	background-image: url(../images/intersection.png);
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #333;
	height: 100%;
	position: relative;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2, h3 {
	color: #4aaaa5;
	font-size: 1.5em;
}
p {
 	padding: 3px 2px;
 	font-size: 1.1em;
 	line-height: 1.5;
 }


/* index.html: This is the header*/

.wrap_head {
	background-color: #fff;
	border-bottom: 2px outset #ddd;
	margin: auto;
	padding: 0;
	width: 100%;
	position: fixed;
	z-index: 10;
}

.container_head {
	width: 960px;
	height: 75px;
	margin: auto;
	position: relative;
	bottom: 0;
	padding: 0;
}


#h1 {
	background-color: #4aaaa5;
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 25%;
	height: 90%;
	padding: 0;
}

#name {
	text-align: center;
	width: 300px;
	font-size: 30px;
	position: relative;
	top: 25%;
	right: 10%;
	color: #fff;
}

#nav {
	position: absolute;
	bottom: 25%;
	right: 0%;
	padding: 0 5px;
}

a#head_anchor {
	text-decoration: none;
	position: absolute;
	top:25%;
}


.anchor {
	padding: 0 10px;
	text-decoration: none;
	font-size: 1.3em;
}

a:link {
	color: #bbb;
}

a:visited {
	color: #68ab56;
}

a:hover {
	color: #4aaaa5;
}

a:active {
	color: #4aaaa5;
}

/* index.html: This is my biobliography and About me Section*/


.wrap_body {
	margin: auto;
	padding-bottom: 5%;
	width: 100%;
	position: absolute;
	top: 18%;
}

.container_body {
	width: 960px;
	margin: auto;
	position: relative;
	bottom: 0;
	padding: 0;
}

.bio {
	background-color: #fff;
	border: 1px ridge #dddddd;
	width: 610px;
	height: 400px;
	margin-right: 20px;
	padding: 20px;
	float: left; 
	position: relative;
}

#bio_name{
	border-bottom: 2px solid #dddddd;
	padding: 10px 0;	
}

#bio_image{
	padding: 10px 0;
	float: left;
}

#bio_para{
	padding: 20px 0;
	position: relative;
	left: 10px;	
}

/* index.html: This is my Contact Me section*/

.contact {
	background-color: #fff;
	border: 1px ridge #dddddd;
	width: 220px;
	height: 120px;
	margin-left: 20px;
	padding: 20px;
	float: right;
}

#contact_header {
	border-bottom: 2px solid #dddddd;
	padding: 10px 0;
	text-align: center;
}

#contact_links {
	padding: 10px 0;
}

#git {
	padding: 5px 5px;
	float: left;
}

#linkedin {
	padding: 5px 20px;
	float: left;
	
}

#overflow {
	padding: 8px 5px;
	float: right;
}

.connect_images {
	width: 55px;
	height: 55px;
}

#connect_images_1 {
	width: 50px;
	height: 50px;
}

/*Portfolio Page: This is CSS for my portfolio*/

.portfolio {
	background-color: #fff;
	border: 1px ridge #dddddd;
	width: 610px;
	height: 675px;
	margin-right: 20px;
	padding: 20px;
	float: left; 
	position: relative;
}

#portfolio_name{
	border-bottom: 2px solid #dddddd;
	padding: 10px 0;	
}

#top {
	margin: 10px 0;
	padding: 10px 0;
}

#portfolio_1 {
	float: left;
	position: relative;
}


#portfolio_2 {
	float: right;
	position: relative;
}

#middle {
	margin: 10px 0;
	padding: 10px 0;
	clear: both;
}

#portfolio_3 {
	float: left;
	position: relative;
}


#portfolio_4 {
	float: right;
	position: relative;
}

#bottom {
	margin: 10px 0;
	padding: 10px 0;
	clear: both;
}

#portfolio_5 {
	float: left;
	position: relative;
}

.port_image {
	width: 275px;
	height: 185px;
}

.image_text {
	position: absolute;
	top: 70%;
	z-index: 5;
	background-color: #4aaaa5;
	color: #fff;
	width: 275px;
	padding: 10px 0;
	text-align: center;
	clear:both;
}

/* Contact Page: This is CSS for my form*/

.form {
	background-color: #fff;
	border: 1px ridge #dddddd;
	width: 610px;
	height: 425px;
	margin-right: 20px;
	padding: 20px;
	color: #777;
	font-size: 16px;
	float: left; 
	position: relative;
}

#form_contact {
	border-bottom: 2px solid #dddddd;
	padding: 10px 0;	
}

#form_name {
	padding: 5px 0;	
	line-height: 1.25;
}

#form_email {
	padding: 5px 0;
	line-height: 1.25;	
}

#form_text {
	padding: 5px 0;
	line-height: 1.25;	
}

input {
	width: 590px;
	border: 1px solid #ddd;
	color: #777;
}

input:required {
	border: 1px solid red;
}

textarea {
	width: 590px;
	margin: auto;
	height: 200px;
	color: #777;
	border: 1px solid #ddd;
}

button {
	background-color: #4aaaa5;
	color: #eee;
	border: none;
	padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; 
    cursor: pointer;
}

button:visited {
	background-color: #ddd;
	color: #fff;
}

button:hover {
	background-color: #bbb;
	color: #fff;
}

button:active {
	background-color: #ddd;
	color: #fff;
}

img{
	width: 200px;
	height: 200px;
}


/* This is my footer*/

.wrap_foot {
	background-color: #ccc;
	margin: auto;
	padding: 0;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 20;
}


#footer {
	background-color: #666666;
	color: #fff;
	text-align: center;
	font-size: 12px;
	width: 97.6%;
	padding: 1.2%;
	border-top: 4px solid #4aaaa5;
	height: 10px;
	clear: both;
}


/* Website adjusted for screen sizes*/

@media screen and (max-width: 900px) {

	#footer {
		background-color: blue;
	}

}

@media screen and (max-width: 700px) {

	#footer {
		background-color: orange;
	}

}

@media screen and (max-width: 400px) {

	#footer {
		background-color: red;
	}

}